<!DOCTYPE html>
<html>

    <%- include head %>
  
  <body>
    <%- include topBar %>

    <%- include navBar %>

    <header class="bg-primary-home">
      <div class="container h-100"> 
        <div class="row h-100 align-items-center">
          <div class="expertise col-lg-12">
              <h1 class="text-w">Estudio Jurídico Chizzini Abogados</h1>
              <h4 class="text-w">En Chizzini Abogados contamos con un equipo de abogados especialistas en las diferentes ramas del derecho que estudiarán tu caso y estudiarán las diferentes opciones de procedimiento para poner una rápida y eficaz solución al mismo. Brindamos asesoramiento jurídico de forma integral.</h4>
         
              
              
         
            </div>
        </div>
      </div>
  </header>
<!--
  <div class="title-header col-3">
    <a class=title href="/expertise"><h1 class="title">Servicios</h1></a>
    </div>-->

    <div class="home-container">
    <%- include landingContent2 %>
    </div>


    <%- include carrousel %>

  <!--  
    <div class="title-header col-3">
      <a class=title href="/article"><h1 class="title">Novedades</h1></a>
      </div>-->
  
  
      <div class="home-container">
      <%- include landingContent %>
      </div>


    <%- include footer %>
 
  </body>
</html>
